
ion-header {

    ion-toolbar {
        padding: 0 15px;

        h1 {
            text-align: center;
            color: #00d173;            
            font-size: 28px;
            font-style: bould;
            font-weight: 900;
            font-family: Inter;
        }
        ion-menu-button, ion-button {
            --color: #002F1A;
        }
    }
              
}

ion-menu-button {
    --color: #002F1A;
}

ion-content {
    ion-slides {
        --bullet-background-active: #00D173;
        // --progress-bar-background: #121d7a;
        h6 {
            font-size: 14px;
            font-weight: 400;            
        }        
    }

    ion-slide {
        position: relative;
        .favourite  {
            position: absolute;
            top: 5px;
            left: 10px;
        }    
   
    }
    .slides {
        padding:  0px 15px;

        h3 {
            font-size: 14px;
            font-weight: 400;
            color: #002F1A;
            padding-left: 10px;
        }
    }


    ion-card {
        margin: 0;
        text-align: left;
        box-shadow: none;    

        ion-card-header {
            padding: 0;
            
            ion-card-title {
                font-size: 14px;
                color:#002F1A;
                font-weight: 400;
                // text-transform: none;
            }
            ion-card-subtitle {
                font-size: 10px;
                color: #ACB8B2;
                font-weight: 400;
                text-transform: none;                
            }
            .text {
                bottom: 40px;
                left: 10px;
                color: white;
            }
           
        }       
    }
    
}
